Library/
Temp/
obj/
Logs/
build/
buildw/

*.csproj
*.sln

.idea
Assets/Plugins/Editor/JetBrains/
*.sln.DotSettings.user
ProjectSettings/Packages/com.furylion.*

fastlane/README.md
fastlane/report.xml

.DS_Store
UserSettings

